@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body Styling-Start */
body {
  font-family: "Poppins", sans-serif;
}
/* Body Styling End */
/*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */
/* Search-Box-Styling-Start */
.search-box {
  width: 85%;
  margin: 0 auto;
  text-align: right;
  position: absolute;
  /* top: -150px; */
  z-index: 1;
  transition: 1s;
  display: none;
}

.search-box.active {
  position: absolute;
  top: 105px;
  left: 0;
  /* z-index: -2; */
  display: block;
}

.search-box input {
  background: #fffffa;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  border-radius: 0px 0px 8px 8px;
  font-size: 24px;
  line-height: 42px;
  border: 0;
  padding: 12px 48px;
}

.search-box input::placeholder {
  color: #b3b3b3;
}
/* Search-Box-Styling-End */
/*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */
/* Header-Styling-Start */

ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  gap: 40%;
}

.list-item-container {
  display: flex;
  align-items: center;
  margin-left: -25em;
}

a {
  text-decoration: none;
  color: #021718;
}

li {
  list-style-type: none;
  padding: 30px;
  margin-top: 10px;
  font-size: 24px;
}

.logo {
  padding-top: 20px;
}

.mobile-logo-img {
  display: none;
}

/* Header-Styling-End */
/*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */
/* Hero-Section-Start */

.hero-section {
  background-image: url("images/Group\ 1.png");
  background-color: #f5a05c;
  width: 100%;
  height:100%;
  background-repeat: no-repeat;
  background-position: right;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;

  padding-top: 70px;
}

.heading-section {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 64px;
}

span {
  font-size: 24px;
  width: 480px;
  line-height: 42px;
}

button {
  width: 150px;
  margin-top: 20px;
  width: 196px;
  height: 50px;
  font-size: 24px;
  color: white;
  background-color: #01847f;
  border-radius: 8px;
  border: 1px;
  cursor: pointer;
}

.box-image-section {
  background-color: #01847f;
  position: absolute;
  width: 455px;
  height: 453px;
  justify-content: end;
  align-items: center;
  margin-top: -60px;
  margin-left: 49.5%;
  transform: rotate(351deg);
}

.photo-img {
  width: 550px;
  object-fit: cover;
  position: relative;
  margin-top: 30px;
}
/* Hero-Section-End */
/*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */
/* Img-Gallery-Section-Start */
.img-gallery {
  display: flex;
  align-items: center;
  margin-top: -5em;
  margin-left: -2em;
  padding-bottom: 40px;
}

.img-gallery > img {
  padding: 21px;
}
/* Img-Gallery-Section-End */
/*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */
/* Humburger-Styling-Start */
.humburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3 ease-in-out;
  transition: all 0.3 ease-in-out;
  background-color: rgb(0, 0, 0);
}
/* Humburger-Styling-Start */
/*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */
/* Section Search and Close STyling start */
.icon-img {
  display: flex;
  position: relative;
}

.icon-img > img {
  position: absolute;
  margin-top: -13px;
}

.icon-img > .close-icon {
  opacity: 0;
  pointer-events: none;
  transform: translateY(-8px);
  transition: 0.2s;
}

.icon-img > .search-icon {
  pointer-events: auto;
  transition: 0.2s;
}

.icon-img.active > .search-icon {
  opacity: 0;
  pointer-events: none;
  transform: translateY(-8px);
}
.icon-img.active > .close-icon {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}
/* Section Search and Close STyling start */
/*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */
/* Hover Section Start */
.photo-img:hover {
  transform: rotate(349deg);
}
/* Hover Section End */

/* Mobile Meadia Query Start */
/*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */
@media screen and (max-width: 767px) {
  .humburger {
    display: block;
    margin-left: 20em;
    margin-top: -52px;
    padding-bottom: 36px;
  }

  .bar {
    width: 40px;
    height: 3px;
    margin: 5px auto;
  }

  .humburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .humburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .humburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -25em;
    top: 104px;
    gap: 0;
    background-color: #262626;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 400px;
    align-items: center;
  }

  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active {
    left: 0;
  }

  .mobile-logo-img {
    display: inline !important;
    width: 85px;
    margin-left: 25px;
  }

  .logo {
    display: none;
  }

  .hero-section {
    display: grid;
    grid-template-columns: 1fr;
    height: 55em;
    overflow: hidden;
  }

  .box-image-section {
    width: 294px;
    height: 298px;
    left: -136px;
    margin-top: 110px;
  }

  .photo-img {
    width: 350px;
    margin-left: 4px;
    margin-top: -30px;
  }

  .heading-section {
    padding-bottom: 30px;
  }

  .img-gallery {
    margin-top: 50px;
  }
  .heading-section {
    margin-left: 25px;
  }

  h1 {
    font-size: 35px;
  }

  span {
    width: 380px;
  }

  .img-gallery {
    margin-top: 50px;
    margin-left: -9px;
  }

  .img-gallery > img {
    padding: 7px;
    width: 135px;
  }

  .img-gallery > img:first-child {
    width: 63px;
  }

  .list-item-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-left: 0;
  }

  .list-item {
    padding: 10px;
    color: white;
  }

  .list-item-link {
    color: white;
  }

  .list {
    display: none;
  }
}
/* Mobile Meadia Query End */
